.record-per-page-combo-box{
	width: 60px;
}
.record-per-page-section{
	display: flex;
}

.button_section{
	text-align: center;
}

.page-input{
	width: 60px;
}
.page-section{
	display: flex;
}

.record-container{
	min-height: 350px;
}